<div class="row">
    <div class="col-sm-12">
        <%
        if(message && message.length > 0) {
            for(var i = 0; i < message.length; i++){
        %>
            <div class="alert alert-danger"><%= message[i] %></div>
        <%
            }
        }
        %>
        <form action="/profile" method="post">
            <div class="form-group">
                <label for="firstName">First name</label>
                <input type="text" class="form-control" name="firstName" id="firstName" value="<%= user.firstName %>" />
            </div>
            <div class="form-group">
                <label for="lastName">Last name</label>
                <input type="text" class="form-control" name="lastName" id="lastName" value="<%= user.lastName %>" />
            </div>

            <button type="submit" class="btn btn-warning btn-lg">Save</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="well">
            <h3 class="text-danger">Local</h3>
            <% if(user.local.email) { %>
            <p>
                <strong>email</strong>: <%= user.local.email %><br>
                <strong>password</strong>: <%= user.local.password %><br>
            </p>
            <p>
                <a href="/unlink/local" class="btn btn-default">Unlink</a>
            <% } else {%>
                <a href="/connect/local" class="btn btn-default">Connect</a>
            <% } %>
            </p>

        </div>
    </div>

    <div class="col-sm-6">
        <div class="well">
            <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google</h3>
            <% if(user.google.token) { %>
            <p>
                <strong>id</strong>: <%= user.google.id %><br>
                <strong>token</strong>: <%= user.google.token %><br>
                <strong>email</strong>: <%= user.google.email %><br>
                <strong>name</strong>: <%= user.google.name %>
            </p>
            <p>
                <a href="/unlink/google" class="btn btn-default">Unlink</a>
            <% } else {%>
                <a href="/connect/google" class="btn btn-default">Connect</a>
            <% } %>
            </p>

        </div>
    </div>
</div>