<div class="row">
	<div class="col-md-12">
		<% include partials/beer_search %>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<% if(beer_search){ %>
		<h3>Search results</h3>
		<p>Didn't find what you were looking for? <a href="/search?beer_search=<%= beer_search %>&amp;extend=true">Extend search with brewerydb.com!</a></p>
		<% } %>
		<div class="list">
		<%
		if(beers && beers.length > 0){
			for(var i = 0; i < beers.length; i++){
		%>
			<div class="row">
				<a href="/beer/<%= beers[i]._id %>" class="col-md-12">
					<div class="col-md-2 text-center"><img src="<%= (beers[i].labels.small) ? beers[i].labels.small : '/images/no_image_beer.png' %>" /></div>
					<div class="col-md-4"><strong><%= beers[i].name %></strong></div>
					<div class="col-md-4"><%= beers[i].brewery.name %></div>
					<div class="col-md-4">ABV: <%= (beers[i].abv) ? beers[i].abv : 'unknown' %>%</div>
					<div class="col-md-4">IBU: <%= (beers[i].ibu) ? beers[i].ibu : 'unknown' %></div>
				</a>
			</div>
		<%
			}
		}
		%>
		</div>
	</div>
</div>